.container {
    margin: 0 auto;
    width: 790px;
}
.content {
    flex: 1 0 auto;
    margin: 0 auto;
    margin-top: 45px;
    padding-top: 60px;
    width: 930px;
    background-color: #232323;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.red-border {
    border-bottom: 1px solid red !important;
}
.movie_viewed {
    opacity: .3;
    text-decoration: line-through;
}

.violet-back {
    background-image: url('../img/circle-violet-back.png') !important;
}