.add-movie {
    display: flex;
    column-gap: 20px;
    &__name {
        padding-bottom: 16px;
        width: 411px;
        height: 62px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($color: #f4f6f9, $alpha: .5);
        color: #F3F6F9;
        font-size: 30px;
        line-height: 34.5px;
        &::placeholder {
            color: #F3F6F9;
            opacity: .5;
        }
    }

    &__btn {
        width: 62px;
        height: 62px;
        background-color: $violet-color;
        border: none;
        border-radius: 100%;

        &:hover {
            opacity: .8;
        }
    }

}