.movie {
    position: relative;
    height: 71px;
    background-color: #3A3939;
    display: flex;
    align-items: center;

    &__check-view {
        margin-left: 20px;
    }
    &__name {
        margin-left: 20px;
    }
    &__delete {
        position: absolute;
        top: 24px;
        right: 24px;
    }
}