.movie {
    position: relative;
    height: 71px;
    background-color: #3A3939;
    display: flex;
    align-items: center;

    &__check-view {
        margin-left: 20px;
        background-image: url('../img/circle.png');
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }
    &__name {
        margin-left: 20px;
    }
    &__delete {
        position: absolute;
        top: 24px;
        right: 24px;
        background-image: url('../img/cross.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 23px;
        height: 23px;
    }
}